/*header*/
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/mark_simonson_-_proxima_nova_bold.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/mark_simonson_-_proxima_nova_semibold.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/mark_simonson_-_proxima_nova_regular.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background: #FFFFFF;
}
#logo{
	max-width: 95%;
	height: auto;
}
.glyphicon{
	font-size: 14px;
}
.icon-slide{
	max-width: 15%;
	height: auto;
}
.icon-slide2{
	max-width: 40%;
	height: auto;
}
.img-slide{
	max-width: 60%;
	height: auto;
}
.row .char{
	font-family: 'playfair display';
	font-style: italic;
	line-height: 10px;
	font-size: 18px;
}
.carousel-caption .row{
	padding: 2% 0%;
}
.row{
	padding:20px 0px;
}
.slide-bottom{
	padding-top: 25%;
}
.nav li a{
	text-transform: uppercase;
	color:white;
	font-size: 12px;
	font-family: 'proxima_nova_rgbold';
	letter-spacing: 1px;
}
.nav li a:hover{
	background:rgba(0, 0, 0, 0);
	color: #f1f1f1;
	background: transparent;
}
.navbar{
	margin: 0px;
	border-radius: 0px;
}
.carousel-caption p{
	line-height: 20px;
	letter-spacing: 1px;
}
.menu ul li{
	padding-top: 30px;
}
.menu{
	padding:0px 0px -10px 0px;
	text-align: center;
}
/*contenr*/
.one .char {
	padding: 50px 0px;
	font-family: "Playfair Display";
	font-style:italic;
	letter-spacing: 1px;
	font-size: 48px;
}
.one{
	padding:30px 0px;
}
.one a{
	margin-bottom: 20px;
}
.col-one h3{
	text-transform: uppercase;
	font-size: 17px;
	font-family: 'proxima_nova_ltsemibold';
}
.col-one p{
	font-family: "proxima_nova_rgregular";
	letter-spacing: 1px;
	line-height: 150%;
	color: #a4a4a4;
}
.col-one a{
	color: #c79294;
	font-family: "proxima_nova_rgregular";
	text-decoration: none;
}
.col-one .about{
	margin-bottom: 20px;
}
.icon{
	font-size: 18px;
	color: #c79294;
}
.space img{
	max-width: 15%;
	height: auto;
}
.space{
	padding-bottom: 70px;
}
.col-one img{
	/*height: 200px;*/
	max-width: 100%;
}
.tow{
	background: url("../images/main/banner1.jpg");
	background-size: cover;
}
.tow h1{
	font-family: "playfair display";
	font-style: italic;
	font-size: 48px;
	padding: 120px 0px;
	color: white;
	letter-spacing:1px;
}
.there {
	padding: 50px 0px;
	border-bottom: 1px solid #eeeeee;
}
.there h1{
	font-family: "proxima_nova_rgbold";
	font-size: 48px;
	letter-spacing: 1px;
}
.there h4{
	font-family:"playfair display";
	font-style:italic;
	font-size: 20px;
	padding-bottom: 20px;
}
.there .our p{
	font-family: "proxima_nova_rgregular";
	font-size:14px;
	padding-bottom: 20px;
	line-height: 150%;
	letter-spacing: 0.8px;
	color: #a4a4a4;
}
.there .row img{
	width: 360px;
}
.there img{
	padding: 15px 0px;
}
.there .img-small{
	padding-top:25%; 
}
.there .img-big{
	padding-top: 50%;
}
.four .Features header h4{
	text-transform:uppercase;
	font-size: 16px;
	padding: 0px 0px;
	font-family: "proxima_nova_rgbold";
	text-align: left;
	letter-spacing: 1px;
}
.four .Features-icon{
	font-size: 48px;
	float: left;
	padding: 45px 25px;
	margin: 0px 20px;
	border: 1px solid #eeeeee;
	color:#888888;
}
.four{
	padding: 50px 0px;
}
.four .Features p{
	font-family: "proxima_nova_rgregular";
	text-align: left;
	letter-spacing: 0.7px;
	line-height: 150%;
	color: #969696;
}
.four .Features{
	margin: 50px 0px;
	padding: 0px 20px;
}
.four .Features .Features-icon:hover{
	background: #b46d70;
	color: #ffffff;
}
.five{
	padding: 100px 0px;
	background:url("../images/main/banner2.jpg");
	background-size: cover;
}
.form{
	padding-top: 40px;
}
.form input{
	border-radius: 0px;
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	height: 45px;
}
.five-one{
	padding:20px 0px;
}
.five h2{
	color: #ffffff;
	text-transform: uppercase;
	font-family: "proxima_nova_ltsemibold";
	text-align: left;
	letter-spacing: 4px;
	font-size: 36px;
}
.five h4{
	font-family: "playfair display";
	font-style: italic;
	color:#f1f1f1;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
}
.five .form button{
	color: white;
	font-family: "proxima_nova_ltsemibold";
}
.sub{
	border-radius: 0px;
	background: #b46d70;
	padding: 12px 20px;
	margin-left: 5px;
}
.five-one a img{
	padding: 5px 0px;
}
.six{
	border-top: 1px solid #eeeeee;
	padding-bottom: 60px;
	padding-top: 50px;
}
.six h1{
	font-family: "proxima_nova_ltsemibold";
	letter-spacing: 2px;
	font-size: 48px;
}
.six .updates{
	margin-bottom:20px; 
}
.lead{
	padding-top: 10px;
	font-size: 16px;
	letter-spacing: 0.7px;
	color: #1f1f1f;
}
.six a{
	margin-top:10px;
	color: #c79294;
	font-family: "proxima_nova_rgregular";
}
.six a p{
	color: black;
	font-family: 'proxima_nova_ltsemibold';
}
.six a:hover,
.six a p:hover{
	color: #c79294;
	text-decoration: none;
}
.p{
	font-style:italic;
	font-family:"playfair display";
	margin-top: -20px;
	letter-spacing: 0.8px;
	color: #a6a6a6;
}
.six-p{
	font-family: "playfair display";
	font-style: italic;
	font-size: 20px;
}
.six img{
	width: 360px;
}
/*footer*/
footer{
	padding-top: 10px;
	background: url("../images/footer/footer.jpg") center ;
	height: 270px;
}
footer img:hover{
	background: #B46D70;
}
footer img{
	background-color: #ffffff;
}
footer #top{
	height: 70px;
}
footer #footer{
	height: 100px;
	padding-top: 50px;
	color: #f1f1f1;
	font-family: 'proxima_nova_rgregular';
	letter-spacing:1.5px;
}
footer p{
	font-family: "playfair display" serif;
	font-size: 14px;
	padding: 10px 0px;
}
.footer{
	color: #555555 ;
}
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 2px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #212121;
    background-color: #ffffff;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #b46d70;
}

.social .fa-twitter:hover {
    background: #b46d70;
}

.social .fa-instagram:hover {
    background: #b46d70;
}

.social .fa-pinterest:hover {
    background: #b46d70;
}
.thumbnai{
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0%;
    right:0%;
    bottom: 0%;
    left: 0%;
    background:rgba(0, 0, 0, 0.3);
    width:100%;
    /*height:100%;*/
    display: none;
    color:#fff !important;
    z-index:2; 
    margin: 15px 0px;
}
.caption h3{
	font-family: "proxima_nova_ltsemibold";
}
.caption p{
	font-family: "playfair display";
	font-style: italic;
	text-transform: capitalize;
}
input::-moz-placeholder {
	font-size: 14px; color: #ffffff;
	font-family: 'proxima_nova_rgregular';
}