/*add font*/
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/mark_simonson_-_proxima_nova_bold.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/mark_simonson_-_proxima_nova_semibold.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/mark_simonson_-_proxima_nova_regular.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*head*/
body{
	background: #FFFFFF;
}
.button-menu{
	background: #ffffff;
}
.icon-bar{
	background: #000000;
}
#logo{
	max-width: 95%;
	height: auto;
	padding-top: 8px;
}
.glyphicon{
	font-size: 14px;
}
.icon-slide{
	max-width: 15%;
	height: auto;
}
.icon-slide2{
	max-width: 40%;
	height: auto;
}
.img-slide{
	max-width: 70%;
	height: auto;
	margin-bottom: -20px !important;
}
.char-slide p{
	font-family: 'playfair display';
	font-style: italic;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 20;
}
.carousel-caption .row{
	padding: 2% 0%;
}
.row{
	padding:20px 0px;
}
.slide-bottom{
	padding-top: 25%;
}
.nav li a{
	text-transform: uppercase;
	color:white;
	font-size: 12px;
	font-family: 'proxima_nova_rgbold';
	letter-spacing: 30;
	line-height: 20.8px;
}
.nav li a:focus{
	outline:0;
	background-color: transparent;
}
.nav li a:hover{
	background:rgba(0, 0, 0, 0);
	color: #f1f1f1;
	background: transparent;
}
.navbar{
	margin: 0px;
	border-radius: 0px;
}
.carousel-caption p{
	letter-spacing: 1px;
}
.menu ul li{
	padding-top: 42px;
}
.menu{
	text-align: center;
}
/*contenr*/

/*one*/
.one .char {
	padding: 30px 0px 40px 0px;
	font-family: "Playfair Display";
	font-style:italic;
	letter-spacing: 20;
	line-height: 67.2px;
	font-size: 48px;
}
.one{
	padding:30px 0px;
}
.one a{
	margin-bottom: 20px;
}
.col-one .about h3{
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'proxima_nova_ltsemibold';
	padding: 7px 0px 0px 0px ;
	letter-spacing: 50;
	line-height: 25.6px;
}
.col-one .about p{
	font-family: "proxima_nova_rgregular";
	font-size: 15px;
	letter-spacing: 30;
	line-height: 24px;
	color: #a4a4a4;
	padding-bottom: 5px;
}
.col-one .about a{
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 30;
	color: #c79294;
	font-family: "proxima_nova_rgregular";
	text-decoration: none;
}
.col-one .about{
	margin-bottom: 20px;
}
.icon{
	font-size: 18px;
	color: #c79294;
}
.space img{
	max-width: 15%;
	height: auto;
}
.space{
	padding-top:25px ;
	padding-bottom: 85px;
}
.col-one img{
	/*height: 200px;*/
	max-width: 100%;
}
.tow{
	background: url("../images/main/banner1.jpg") center ;
	height: 500px;
	background-size: cover;
    background-attachment: fixed;
}
.tow h1{
	font-family: "playfair display";
	font-style: italic;
	font-size: 48px;
	padding: 16% 0%;
	color: white;
	line-height: 67.2px;
	letter-spacing:20;
}
.there {
	padding: 40px 0px 65px 0px;
	border-bottom: 1px solid #eeeeee;
}
.there .our h1{
	font-family: "proxima_nova_ltsemibold";
	font-size: 48px;
	line-height: 76.8px;
	letter-spacing: 50;
}
.there .our h4{
	font-family:"playfair display";
	font-style:italic;
	font-size: 20px;
	margin-top: -20px;
	margin-bottom: 0px;
	padding-bottom: 30px;
	line-height: 24px;
	letter-spacing: 30;
}
.there .our p{
	font-family: "proxima_nova_rgregular";
	font-size:15px;
	line-height: 24px;
	letter-spacing: 30;
	color: #a4a4a4;
	margin-bottom: 5px;
}
.there .row img{
	width: 360px;
}
.there img{
	padding: 15px 0px;
}
.four .features header h4{
	text-transform:uppercase;
	font-size: 16px;
	font-family: "proxima_nova_rgbold";
	text-align: left;
	letter-spacing: 50;
	line-height: 25.6px;
}
.four .features-icon{
	font-size: 48px;
	float: left;
	padding: 40px 23px;
	margin-right: 20px;
	border: 1px solid #eeeeee;
	color:#888888;
}
.four{
	padding: 40px 0px 50px 0px;
}
.four .features p{
	font-family: "proxima_nova_rgregular";
	text-align: left;
	letter-spacing: 30;
	line-height: 24px;
	color: #969696;
}
.four .features{
	margin: 40px 0px;
}
.four .features .features-icon:hover{
	background: #b46d70;
	color: #ffffff;
	transition: all ease 1s;
}
.five{
	padding: 100px 0px;
	background:url("../images/main/banner2.jpg");
	background-size: cover;
	height: 400px;
}
.five-info{
	padding-top: 4%;
}
.five-info .form{
	padding-top: 15px;
}
.form input{
	border-radius: 0px;
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	height: 50px;
}
.five-one{
	padding:30px 0px;
}
.five h2{
	color: #ffffff;
	text-transform: uppercase;
	font-family: "proxima_nova_ltsemibold";
	text-align: left;
	letter-spacing: 50;
	line-height: 57.6px;
	font-size: 36px;
}
.five h4{
	font-family: "playfair display";
	font-style: italic;
	color:#f1f1f1;
	font-size: 16px;
	text-align: left;
	letter-spacing: 20;
	line-height: 22.4px;
	margin-top: -15px;
}
.five .form button{
	font-size: 14px;
	line-height: 22.4px;
	letter-spacing: 50;
	color: white;
	font-family: "proxima_nova_ltsemibold";
	text-transform: uppercase;
}
.sub{
	border-radius: 0px;
	background: #b46d70;
	padding: 13px 20px;
	margin-left: -5px;
}
.five-one img{
	padding: 5px 0px;
}
.six{
	border-top: 1px solid #eeeeee;
	padding-bottom: 60px;
	padding-top: 50px;
}
.six h1{
	font-family: "proxima_nova_ltsemibold";
	letter-spacing: 50;
	line-height: 76.8px;
	font-size: 48px;
}
.six .updates{
	margin-bottom:20px; 
}
.updates .lead{
	padding: 20px 0px 5px 0px; 
	font-size: 16px;
	letter-spacing:50;
	line-height: 25.6px;
	color: #1f1f1f;
}
.six a{
	margin-top:10px;
	color: #c79294;
	font-family: "proxima_nova_rgregular";
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 30;

}
.six a p{
	color: black;
	font-family: 'proxima_nova_ltsemibold';
}
.six a:hover,
.six a p:hover{
	color: #c79294;
	text-decoration: none;
}
.updates .p{
	font-style:italic;
	font-family:"playfair display";
	font-size: 14px;
	margin-top: -20px;
	padding-bottom: 5px;
	letter-spacing:20;
	line-height: 19.6px;
	color: #a6a6a6;
}
.six-p{
	font-family: "playfair display";
	font-style: italic;
	line-height: 28px;
	letter-spacing: 20;
	margin-top: -20px;
	font-size: 20px;
	padding-bottom: 20px;
}
.six img{
	max-width: 100%;
}
/*footer*/
footer{
	padding-top: 10px;
	background: url("../images/footer/footer.jpg") center ;
	height: 370px;
}
footer img:hover{
	background: #B46D70;
}
footer img{
	background-color: #ffffff;
}
footer #top{
	padding-top:30px; 
	height: 130px;
}
footer #footer{
	height: 230px;
	padding-top: 60px;
}
footer #footer p{
	color: #c7c7c7;
	font-family: 'proxima_nova_rgregular';
	font-size: 16px;
	padding-top: 15px;
	letter-spacing:30;
	line-height: 25.6px;
}
#footer .footer{
	padding-top: 25px;
	color: #555555 ;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 30;
}
.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 2px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 44px;
    height: 44px;
    color: #212121;
    background-color: #ffffff;
    font-size: 22px;
    text-align:center;
    line-height: 44px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    color:#fff;
}

.social .fa-facebook:hover {
    background: #b46d70;
}

.social .fa-twitter:hover {
    background: #b46d70;
}

.social .fa-instagram:hover {
    background: #b46d70;
}

.social .fa-pinterest:hover {
    background: #b46d70;
}
.thumbnai{
    position:relative;
    overflow:hidden;
    max-width: 360px;
}
.caption {
    position:absolute;
    top:0%;
    right:0%;
    bottom: 0%;
    left: 0%;
    background:rgba(0, 0, 0, 0.3);
    width:100%;
    /*height:100%;*/
    display: none;
    color:#fff !important;
    z-index:2; 
    margin: 15px 0px;
}
.mask{
	position: absolute;
	top:50%;

	width: 100%;
	transform: translateY(-50%);
}
.caption h3{
	font-family: "proxima_nova_ltsemibold";
}
.caption p{
	font-family: "playfair display";
	font-style: italic;
	text-transform: capitalize;
}
input::-moz-placeholder {
	font-size: 16px;
	color: white;
	z-index: 2;
	font-family: 'proxima_nova_rgregular';
}
@media (max-width: 767px){
	.menu,
	.menu ul{
		background: #000;
	}
	.menu ul li{
		padding-top: 0px;
		/*height: 10px;*/
		border-bottom:1px solid #fff;
	}
	.slide{
		padding-top: 50px;
	}
	.menu #logo{
		margin-top: -20px;
		max-width: 60%;
		height: auto;
	}
	.carousel-caption .char-slide p{
		font-size: 12px;
		line-height: 12px;
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }