body{
	background: #FFFFFF;
}
.glyphicon{
	font-size: 1em;
}
.width{
	width: 900px;
}
.container{
	width: 900px;
}
/*header*/
.nav a{
	text-transform: uppercase;
	color:white;
}
ul li{
	padding-top: 10px
}
.menu{
	padding: 0px 200px;
	text-align: center;
}
/*contenr*/
.one,.one h1 {
	padding: 50px 0px;
}
.space{
	padding-bottom: 50px;
}
.col-one img{
	/*height: 200px;*/
	width: 250px;
}
.tow{
	margin: 50px 0px;
	background: url("../image/main/banner1.jpg");
	background-size: cover;
}
.tow h1{
	padding: 120px 0px;
	color: white;
}
.there {
	padding: 50px 0px;
	border-bottom: 1px solid ;
}
.there .row img{
	width: 300px;
}
.there img{
	padding: 8px 8px;
}
.four{
	padding: 50px 0px;
}
.four img{
	float: left;
	padding: 0px;
	margin: 5px;
	border: 1px solid;
}
.four img:hover{
	background: #B46D70;
}
.five{
	padding: 50px 0px;
	background:url("../image/main/banner2.jpg");
	background-size: cover;
}
.six{
	padding: 50px 0px;
}
.six img{
	width: 250px;
}
footer{
	padding-top: 50px;
	background: url("../image/footer/footer.jpg");
	height: 300px;
}
footer img:hover{
	background: #B46D70;
}
footer #top{
	height: 100px;
}
footer #footer{
	height: 200px;
	padding-top: 20px;
	color: #f1f1f1;
}